* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PROPRIETà ALLE DUE MACRO SEZIONI */
.top-section {
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: rgba(20, 22, 41, 0.986);
    display: flex;
    overflow-y: auto;
    margin-left: 75px;
}

.bottom-section {
    background-color: rgb(53, 52, 52);
    height: 100px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

/* FINE PROPRIETà ALLE DUE MACRO SEZIONI */



/* SIDEBAR */
.sidebar {
    width: 75px;
    background-color: black;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.sidebar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.scrollbar {
    height: 200px;
    overflow: scroll;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.profile {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.inline-block {
    display: inline-block;
}

/* FINE SIDEBAR */


/* HOVER */
.col-100:hover span {
    color: white;
}

.new-playlist:hover .fa-solid {
    background-color: white;
}

.name-song:hover p,
.new-playlist:hover p,
.mb-20:hover p {
    color: white;
    cursor: pointer;
}

.col-50:hover img {
    filter: brightness(0.5);
    cursor: pointer;
}

.col-50:hover .fa-circle-play {
    display: block;
    cursor: pointer;
}

.fa-circle-play.play-metal,
.fa-circle-play.play-stranger,
.fa-circle-play.play-quiet,
.fa-circle-play.play-split,
.fa-circle-play.play-wellness,
.fa-circle-play.play-sinister,
.fa-circle-play.play-radar,
.fa-circle-play.play-daily,
.fa-circle-play.play-lana,
.fa-circle-play.play-einaudi {
    display: none;
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 40%;
}

.border-left-green:hover {
    border-left: 1px solid yellowgreen;
}

.fa-heart:hover,
.fa-folder:hover {
    color: white;
}

.col-20-playbar:hover,
.col-20-playbar-right:hover {
    background-color: yellowgreen;
}

.fa-play:hover {
    transform: scale(1.5);
    cursor: pointer;
}

header button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* MAIN */

/* NAVBAR */
main {
    margin-top: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar li {
    display: inline;
    margin: 5px;
    font-size: 14px;
    margin-bottom: 30px
}

a {
    text-decoration: none;
    color: grey;
}

.mt-10px {
    margin-top: 10px;
}

.hr-none {
    width: 50%;
    margin: 10px auto;
    color: yellowgreen;
    display: none;
}

li:hover .hr-none {
    display: block;
}

/* FINE NAVBAR */

/* RECENTLY PLAYED */
.white {
    color: white;
}

.grey {
    color: grey;
}

.margin {
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
}

.col-50 img {
    width: 100%;
}

.col-50 h3 {
    margin: 10px;
}


/* JOHN DOE */
.john-doe {
    margin-top: 50px;
    margin-left: 10PX;
}

.john-doe h2 {
    margin-bottom: 20px;
}

/* MOST POPULAR ARTISTS */

.br-100 {
    border-radius: 100%;
}


/* FINE MAIN */


/* INIZIO FOOTER */

.left-col,
.right-col {
    width: 150px;
    height: 100%;
}

.center-col {
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttons .fa-solid,
.fa-heart,
.fa-folder,
.fa-list-ul,
.fa-display,
.fa-volume-high {
    cursor: pointer;
}

.center-col .fa-solid {
    font-size: 20px;

}

.playbar-controls {
    display: flex;
    width: 100%;
}

.playbar-controls .current,
.playbar-controls .end {
    width: 20%;
}

.playbar-controls .playbar {
    width: 60%;
    margin: 0px 5px;
}

.row-playbar {
    width: 100%;
    display: flex;
    padding-top: 5px;
    height: 30px;
    cursor: pointer;
}

.col-20-playbar {
    width: 20%;
    height: 8px;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: flex-end;
}

.col-20-playbar .fa-solid {
    font-size: 20px;
    position: relative;
    left: 10px;
    bottom: 5px;
    display: none;
}

.playbar:hover .fa-solid {
    display: block;
}

.col-80-playbar {
    width: 80%;
    height: 8px;
    background-color: grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ta-r {
    text-align: right;
}

.img-footer {
    width: 30%;
}

.name-song {
    width: 50%;
}

.prefer {
    width: 20%;
}

.img-footer img {
    width: 89%;
    padding-right: 5px;
}

.left-col {
    display: flex;
    align-items: center;
}

.left-col h3 {
    font-size: 18px;
}

.right-col {
    display: flex;
    align-items: center;
}

.right-col .fa-solid {
    font-size: 14px;
    margin: 2px;
}

.col-40 {
    width: 50%;
}

.col-60 {
    width: 50%;
}

.row-playbar-right {
    width: 100%;
    display: flex;
    cursor: pointer;
}


.col-20-playbar-right {
    width: 20%;
    height: 8px;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: flex-end;
}

.col-20-playbar-right .fa-solid {
    font-size: 15px;
    position: relative;
    left: 8px;
    bottom: 5px;
    display: none;
}

.playbar-right:hover .fa-solid {
    display: block;
}






/* HEADER */
.main-content {
    width: calc(100vw - 75px);
}

header {
    position: fixed;
    left: 75px;
    right: 0;
    width: calc(100vw - 75px);
    background-color: rgb(18, 16, 32);
    z-index: 1;
    text-align: right;
    padding: 20px 0px 20px 20px;
}

header button {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-right: 5px;
}

/* FINE HEADER */


/* MEDIA QUERY DA 350PX A 575PX */

@media screen and (min-width:350px) and (max-width:575px) {

    .top-section {
        width: calc(100vw - 75px);
        margin-left: 75px;
    }

    .sidebar {
        width: 75px;
        background-color: black;
        height: calc(100vh - 100px);
        position: fixed;
        top: 0;
        left: 0;
        display: block;
    }

    .sidebar-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
    }

    .sidebar-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        height: 50%;
    }

    .sidebar img {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }

    .profile {
        background-color: grey;
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }

    .sidebar-lg {
        display: none;
    }

    .fa-circle-play.play-metal,
    .fa-circle-play.play-stranger,
    .fa-circle-play.play-quiet,
    .fa-circle-play.play-split,
    .fa-circle-play.play-wellness,
    .fa-circle-play.play-sinister,
    .fa-circle-play.play-radar,
    .fa-circle-play.play-daily,
    .fa-circle-play.play-lana,
    .fa-circle-play.play-einaudi {
        display: none;
        font-size: 60px;
        position: absolute;
        top: 40px;
        left: 30%;
    }

}

/* MEDIA QUERY DA 576PX */
@media screen and (min-width: 576px) {

    .top-section {
        width: calc(100vw - 250px);
        margin-left: 250px;
    }

    .sidebar-lg {
        width: 250px;
        background-color: black;
        height: calc(100vh - 100px);
        position: fixed;
        top: 0;
        left: 0;
    }

    .sidebar-lg-top {
        display: flex;
        flex-direction: column;
        margin: 0px 25px 0px 25px;
    }

    .sidebar-lg-bottom {
        display: flex;
        flex-direction: column;
        margin: 0px 25px 0px 25px;
    }

    .sidebar-lg img {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }

    .logo-spotify {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .logo-spotify img {
        width: 100%;
        transform: scale(1.5);
        margin: 20px;
        position: relative;
        left: -25px;
    }

    .main-content {
        width: calc(100vw - 250px);
    }

    header {
        left: 250px;
        width: calc(100vw - 250px);
    }

    .col-100 {
        width: 100%;
        display: flex;
        cursor: pointer;
    }

    .col-100 span {
        margin: 10px 0px 0px 10px;
    }

    .col-25 {
        height: 25%;
    }

    .col-75 {
        height: 75%;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fa-plus {
        background-color: grey;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .sidebar-lg-bottom p {
        font-size: 20px;
    }

    .new-playlist {
        margin-bottom: 10px;
    }

    .mb-20 {
        margin-bottom: 15px;
    }

    .download-user {
        position: relative;
        bottom: 50px;
    }

    hr {
        margin: 0px 0px 20px 0px;
    }

    .buttons {
        width: 50%;
    }

    .fa-circle-play.play-metal,
    .fa-circle-play.play-stranger,
    .fa-circle-play.play-quiet,
    .fa-circle-play.play-split,
    .fa-circle-play.play-wellness,
    .fa-circle-play.play-sinister,
    .fa-circle-play.play-radar,
    .fa-circle-play.play-daily,
    .fa-circle-play.play-lana,
    .fa-circle-play.play-einaudi {
        display: none;
        font-size: 60px;
        position: absolute;
        top: 25px;
        left: 30%;
    }


}

/* MEDIA QUERY DA 768PX */
@media screen and (min-width: 768px) {

    .col-50 {
        width: calc(25% - 4px);
        margin: 2px;
    }

    .center-col {
        width: 60%;
    }

    .left-col,
    .right-col {
        width: 20%;
    }

    .buttons {
        width: 50%;
    }

    .playbar-right {
        margin-right: 20px;
    }

    .right-col .col-40 {
        display: flex;
        justify-content: space-evenly;
    }

    .fa-circle-play.play-metal,
    .fa-circle-play.play-stranger,
    .fa-circle-play.play-quiet,
    .fa-circle-play.play-split,
    .fa-circle-play.play-wellness,
    .fa-circle-play.play-sinister,
    .fa-circle-play.play-radar,
    .fa-circle-play.play-daily,
    .fa-circle-play.play-lana,
    .fa-circle-play.play-einaudi {
        display: none;
        font-size: 60px;
        position: absolute;
        top: 20px;
        left: 30%;
    }

    .fa-heart,
    .fa-folder {
        font-size: 20px;
    }
}

/* MEDIA QUERY DA 1200PX */
@media screen and (min-width: 1200px) {
    .col-50 {
        width: calc(100% / 6 - 4px);
    }

    .fa-circle-play.play-metal,
    .fa-circle-play.play-stranger,
    .fa-circle-play.play-quiet,
    .fa-circle-play.play-split,
    .fa-circle-play.play-wellness,
    .fa-circle-play.play-sinister,
    .fa-circle-play.play-radar,
    .fa-circle-play.play-daily,
    .fa-circle-play.play-lana,
    .fa-circle-play.play-einaudi {
        display: none;
        font-size: 60px;
        position: absolute;
        top: 100px;
        left: 40%;
    }

    .buttons {
        width: 25%;
    }

    .playbar-controls {
        width: 90%;
    }

    .fa-heart,
    .fa-folder {
        font-size: 25px;
    }
}