* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PROPRIETà ALLE DUE MACRO SEZIONI */
.top-section {
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: rgba(20, 22, 41, 0.986);
    display: flex;
    overflow-y: auto;
    margin-left: 75px;
}

.bottom-section {
    background-color: rgb(53, 52, 52);
    height: 100px;
    display: flex;
}

/* FINE PROPRIETà ALLE DUE MACRO SEZIONI */



/* SIDEBAR */
.sidebar {
    width: 75px;
    background-color: black;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

/* .sidebar-lg {
    width: 75px;
    background-color: black;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-lg-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.sidebar-lg-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.sidebar-lg img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
} */

.sidebar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.profile {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.inline-block {
    display: inline-block;
}

/* FINE SIDEBAR */







/* MAIN */

/* NAVBAR */
main {
    margin-top: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar li {
    display: inline;
    margin: 5px;
    font-size: 14px;
    margin-bottom: 30px
}

a {
    text-decoration: none;
    color: grey;
}

/* FINE NAVBAR */

/* RECENTLY PLAYED */
.white {
    color: white;
}

.grey {
    color: grey;
}

.margin {
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: calc(50% - 20px);
    border: 2px dashed black;
    margin: 10px;
    text-align: center;
}

.col-50 img {
    width: 100%;
}

.col-50 h3 {
    margin: 10px;
}


/* JOHN DOE */
.john-doe {
    margin-top: 50px;
}

.john-doe h2 {
    margin-bottom: 20px;
}

/* MOST POPULAR ARTISTS */

.br-100 {
    border-radius: 100%;
}


/* FINE MAIN */


/* INIZIO FOOTER */

.left-col,
.right-col {
    width: 100px;
    height: 100%;
    background-color: orange;
}

.center-col {
    width: calc(100% - 200px);
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.playbar-controls {
    display: flex;
    width: 100%;
}

.playbar-controls .current,
.playbar-controls .end {
    width: 10%;
    border: 1px dashed black;
}

.playbar-controls .playbar {
    width: 80%;
    border: 3px dashed black;
}













/* HEADER */
.main-content {
    width: calc(100vw - 75px);
}

header {
    position: fixed;
    left: 75px;
    right: 0;
    width: calc(100vw - 75px);
    background-color: rgb(3, 1, 15);
    z-index: 1;
    text-align: right;
    padding: 20px 0px 20px 20px;
}

header button {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-right: 5px;
}

/* FINE HEADER */


/* MEDIA QUERY DA 768PX */

@media screen and (min-width:350px) and (max-width:575px) {

    .top-section {
        width: calc(100vw - 75px);
        margin-left: 75px;
    }

    .sidebar {
        width: 75px;
        background-color: black;
        height: calc(100vh - 100px);
        position: fixed;
        top: 0;
        left: 0;
        display: block;
    }

    .sidebar-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
    }

    .sidebar-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        height: 50%;
    }

    .sidebar img {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }

    .profile {
        background-color: grey;
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }

    .sidebar-lg {
        display: none;
    }

}

@media screen and (min-width: 576px) {

    .top-section {
        width: calc(100vw - 250px);
        margin-left: 250px;
    }

    .sidebar-lg {
        width: 250px;
        background-color: black;
        height: calc(100vh - 100px);
        position: fixed;
        top: 0;
        left: 0;
    }

    .sidebar-lg-top {
        display: flex;
        flex-direction: column;
        margin: 0px 25px 0px 25px;
    }

    .sidebar-lg-bottom {
        display: flex;
        flex-direction: column;
        margin: 0px 25px 0px 25px;
    }

    .sidebar-lg img {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }

    .logo-spotify {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .logo-spotify img {
        width: 100%;
        transform: scale(1.5);
        margin: 20px;
        position: relative;
        left: -25px;
    }

    .main-content {
        width: calc(100vw - 250px);
    }

    header {
        left: 250px;
        width: calc(100vw - 250px);
    }

    .col-100 {
        width: 100%;
        display: flex;
    }

    .col-100 span {
        margin: 10px 0px 0px 10px;
    }

    .col-25 {
        height: 25%;
    }

    .col-75 {
        height: 75%;
        margin-top: 65px;
    }

    .fa-plus {
        background-color: grey;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .sidebar-lg-bottom p {
        font-size: 20px;
    }

    .new-playlist {
        margin-bottom: 10px;
    }

    .mb-20 {
        margin-bottom: 15px;
    }

    .sidebar-lg-bottom.col-80 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .download-user {
        position: relative;
        bottom: -30px;
    }

    hr {
        margin: 0px 0px 20px 0px;
    }
}

@media screen and (min-width: 768px) {

    .col-50 {
        width: calc(25% - 4px);
        margin: 2px;
    }

    .center-col {
        width: 70%;
    }

    .left-col,
    .right-col {
        width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .col-50 {
        width: calc(100% / 6 - 4px);
    }
}