* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PROPRIETà ALLE DUE MACRO SEZIONI */
.top-section {
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: brown;
    display: flex;
    overflow-y: auto;
    margin-left: 75px;
}

.bottom-section {
    background-color: rgb(53, 52, 52);
    height: 100px;
}

/* FINE PROPRIETà ALLE DUE MACRO SEZIONI */



/* SIDEBAR */
.sidebar {
    width: 75px;
    background-color: black;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-top,
.sidebar-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

#profile {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

/* FINE SIDEBAR */







/* MAIN */

/* NAVBAR */
main {
    margin-top: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar li {
    display: inline;
    margin: 5px;
    font-size: 14px;
    margin-bottom: 30px
}

a {
    text-decoration: none;
    color: grey;
}

/* FINE NAVBAR */

/* RECENTLY PLAYED */
.white {
    color: white;
}

.grey {
    color: grey;
}

.margin {
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: calc(50% - 20px);
    border: 2px dashed black;
    margin: 10px;
    text-align: center;
}

.col-50 img {
    width: 100%;
}

.col-50 h3 {
    margin: 10px;
}


/* JOHN DOE */
.john-doe {
    margin-top: 50px;
}

.john-doe h2 {
    margin-bottom: 20px;
}



/* FINE MAIN */
















/* HEADER */
.main-content {
    width: calc(100vw - 75px);
}

header {
    position: fixed;
    left: 75px;
    right: 0;
    width: calc(100vw - 75px);
    background-color: rgb(13, 1, 54);
    z-index: 1;
    text-align: right;
    padding: 20px 0px 20px 20px;
}

header button {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

/* FINE HEADER */


/* MEDIA QUERY DA 768PX */

@media screen and (min-width: 576px) {

    .top-section {
        width: calc(100vw - 200px);
        margin-left: 200px;
    }

    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100vw - 200px);
    }

    header {
        left: 200px;
        width: calc(100vw - 200px);
    }

}

@media screen and (min-width: 768px) {

    .top-section {
        width: calc(100vw - 250px);
        margin-left: 250px;
    }

    .sidebar {
        width: 250px;
    }

    .main-content {
        width: calc(100vw - 250px);
    }

    header {
        left: 250px;
        width: calc(100vw - 250px);
    }

}